.container {
    .card {
        position: relative;
        height: 450px;
        margin: 50px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
        width: 315px;
        border-radius: 16px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
            sans-serif;
        .intro {
            height: 70px;
            width: 315px;
            padding: 6px;
            box-sizing: border-box;
            position: absolute;
            bottom: 0px;
            background: rgb(27, 27, 27, 0.8);
            transition: 0.5s;
            color: white;
            border-radius: 0 0 16px 16px;

            h1 {
                margin: 10px 20px 0 20px;
                font-size: 20px;
            }
            p {
                font-size: 16px;
                margin: 20px;
                visibility: hidden;
                opacity: 0;
            }
        }

        &:hover {
            cursor: pointer;
            .intro {
                height: 180px;
                bottom: 0px;
                background-color: rgb(27, 27, 27, 0.8);
                p {
                    visibility: visible;
                    opacity: 1;
                }
            }

            img {
                transform: scale(1.1) rotate(-3deg);
            }
        }
    }
    img {
        height: 450px;
        width: 315px;
    }
}
